@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Russo+One&display=swap');

:root {
    --background: #16171C;
    --main: #609FFF;
    --red: #FF5151;
    --text: #383838;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, li, a, textarea, input {
    font-family: "Inter", sans-serif;
}

button {
    cursor: pointer;
}

.container {
    padding: 20px;
    background: var(--background);
    width: 100%;
    height: 100vh;
}

.header {
    margin-bottom: 30px;
}

.title {
    color: var(--main);
    font-size: 24px;
    font-family: "Russo One", sans-serif;
}

.animes {
    display: flex;
}

.anime-section {
    margin-right: 30px;

    width: 350px;
    background: #FFF;
    border-radius: 5px;
    padding: 10px;
}

.cover {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.name {
    font-size: 20px;
    margin: 7px 0px;
    color: var(--text);
}

.sinopse {
    color: var(--text);
    font-size: 14px;
}

.buttons {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    justify-content: end;
}

.btn-default {  
    border: none;
    outline: none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
    font-family: "Russo One", sans-serif;
    transition: 0.2s;
    margin-right: 15px;
}

.btn-default:hover {
    transition: 0.2s;
}

.btn-delete {
    background: var(--red);
}

.btn-edit {
    background: var(--main);
}