@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Russo+One&display=swap');

:root {
    --background: #16171C;
    --main: #609FFF;
    --red: #FF5151;
    --text: #383838;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, li, a, textarea, input {
    font-family: "Inter", sans-serif;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background);
}

.title {
    color: var(--main);
    font-family: "Russo One", sans-serif;
    font-size: 26px;
}

.main {
    width: 500px;
    height: 450px;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-top: 30px;
    padding: 20px;
}

.anime-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.input-default {
    width: 100%;
    height: 45px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    outline: none;
    margin-bottom: 40px;
    padding: 5px;
}

.text-area-default {
    width: 100%;
    height: 100px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    outline: none;
    margin-bottom: 40px;
    padding: 5px;
    resize: none;
}


.btn-save {
    border: none;
    outline: none;
    border-radius: 5px;

    font-family: "Russo One", sans-serif;
    background-color: var(--main);
    color: #FFFFFF;
    font-size: 16px;
    transition: 0.2s;
    width:  220px;
    height: 45px;
}

.btn-save:hover {
    opacity: 0.9;
}